extends layout
block content

  each repo in ['azure-iot-sdk-node', 'azure-iot-sdk-c', 'azure-iot-sdk-csharp', 'azure-iot-sdk-python', 'azure-iot-sdk-java', 'iothub-explorer', 'iothub-diagnostics']
    h2 #{repo}
    h4 
      p #[a(href='https://github.com/azure/' + repo + '/issues?q=is:issue%20is:open') #{reports[repo][0].total + ' open issues'}] as of #{moment(reports[repo][0].at).fromNow() + ' (' + new Date(reports[repo][0].at).toLocaleString() + ')'}
    table.table.table-striped.table-bordered
      tr
        each label in ['bug', 'build issue', 'investigation required', 'help wanted', 'enhancement', 'question', 'documentation']
          th #{label}
        tr
          each label in ['bug', 'build issue', 'investigation required', 'help wanted', 'enhancement', 'question', 'documentation']
            td
              a(href='https://github.com/azure/' + repo + '/issues?q=is:issue%20is:open%20label:' + label) #{reports[repo][0][label]}
